@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,900&display=swap');

body {
background-color: #1A1A1D;
color: #FFFF;
font-family: 'Lexend Deca', sans-serif;
overflow-x: hidden;
display: block;
}

.neonText {
  color: #C3073F;
  text-shadow:
    0 0 7px #950740,
    0 0 10px #950740,
    0 0 21px #950740,
    0 0 42px #C3073F,
    0 0 82px #C3073F,
    0 0 92px #C3073F,
    0 0 102px #C3073F,
    0 0 110px #C3073F;
    

    
}

@keyframes flicker {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #950740,
      0 0 11px #950740,
      0 0 19px #950740,
      0 0 40px #C3073F,
      0 0 80px #C3073F,
      0 0 90px #C3073F,
      0 0 100px #C3073F,
      0 0 110px #C3073F;
  
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}

canvas {
  position:absolute;
  top:0;
  left:0;
  z-index: 0;
  
}

.mainCoverText {
  position: absolute;
  margin-top: 15%;
  font-family: 'Kanit', sans-serif;
  animation: flicker 1.5s infinite alternate;
  font-size:10vw
}

.slogan {
  margin-top: 25%;
  color: rgb(104, 104, 104);
  position: absolute;

}




#navBranding {
  margin-left: 2%;
  color: #C3073F;
  text-shadow:
    0 0 1px #950740,
    0 0 3px #950740,
    0 0 5px #950740,
    0 0 7px #C3073F,
    0 0 8px #C3073F;
font-size: 2vw;
}
.team-section {
  width: 100%;
  position: absolute;
  background: linear-gradient(147deg, #950740, #c3073f);
  margin-top: 50%;
  -webkit-animation: team-div-animation 30s ease infinite;
  -moz-animation: team-div-animation 30s ease infinite;
  -o-animation: team-div-animation 30s ease infinite;
  animation: team-div-animation 30s ease infinite;


}


@-webkit-keyframes team-div-animation {
  0%{background-position:2% 0%}
  50%{background-position:99% 100%}
  100%{background-position:2% 0%}
}
@-moz-keyframes team-div-animation {
  0%{background-position:2% 0%}
  50%{background-position:99% 100%}
  100%{background-position:2% 0%}
}
@-o-keyframes team-div-animation {
  0%{background-position:2% 0%}
  50%{background-position:99% 100%}
  100%{background-position:2% 0%}
}
@keyframes team-div-animation {
  0%{background-position:2% 0%}
  50%{background-position:99% 100%}
  100%{background-position:2% 0%}
}
.team-heading {
  margin-left: 45%;
  margin-top: 5%;
}

/* Firefox */
html {
  scrollbar-color: #C3073F #1A1A1D;
  scrollbar-width: thin;
}

/* WebKit and Chromiums */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #1A1A1D;
}

::-webkit-scrollbar-thumb {
  background: #C3073F;
  border-radius: 5px;
  
}




.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: #FFFF;
  padding: 16px;
  text-decoration: none;
}



/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #C3073F;
  color: #0000;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}


/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar a {

    display: none;
  }

  .admin-pfp {
    display: none;
  }

}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {

    display: none;
  }

  .admin-pfp {
    display: none;
  }

}

#dropdown-menu {
  background: none;
  border: none;
  
}

#dropdown-item {
  color: #FFFF;
}

.admin-pfp {
  border-radius: 50%;
  margin-top: 10%;
  margin-left: 5%;
  border:1px solid #000000;
  -moz-box-shadow: 0px 6px 5px rgb(0, 0, 0);
  -webkit-box-shadow: 0px 6px 5px rgb(0, 0, 0);
  box-shadow: 0px 6px 5px rgb(0, 0, 0);
  -moz-border-radius:190px;
  -webkit-border-radius:190px;
}